header {
    box-shadow: 0 0 5px rgba(0,0,0,.1) !important;
}

.page-title {
    margin-bottom: 10px;
    font-weight: 700;
    padding-left: 10px;
    h2 {
        color: #1890ff;
    }
}

.logo {
    width: 170px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 16px;
    float: left;
}

.content-main {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    min-height: 280px !important;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
